{% extends "base.html" %} {% block content %} {% load static %} 
    <section id="registration" >
      <div class="wrapper">
        <div class="box">
          <div class="head">
            <h2>JAMIA NADWIYYA ARTS AND SCIENCE COLLEGE</h2>
            <p>SALAH NAGAR EDAVANNA- 676541 PH:9744297753, 0483 2700270</p>
            <h3>APPLICATION FOR ADMISSION TO DEGREE / PG COURSE</h3>
          </div>
          <div class="course">
            <label for="Courses">Course : </label>
            <input id="info-course" type="text"  value="{{form.course}}"/>
          </div>
          <div class="container">
            <caption>
              SECOND LANGUAGE: ARABIC/ MALAYALAM ( DEGREE STUDENTS)
            </caption>
            <table>
              <tbody>
                <tr>
                  <td>CAP ID</td>
                  <td id="info-id">{{form.cap_id}}</td>
                </tr>
                <tr id="names">
                  <td>NAME OF CANDIDATE(as in SSLC)</td>
                  <td id="info-name">{{form.full_name}}</td>
                </tr>
                <tr>
                  <td>DATE OF BIRTH</td>
                  <td id="info-dob">{{form.dob}}</td>
                </tr>
                <tr>
                  <td>GENDER</td>
                  <td id="info-gender">{{form.gender}}</td>
                </tr>
                <tr>
                  <td>EMAIL</td>
                  <td id="info-email">{{form.email}}</td>
                </tr>
                <tr>
                  <td>PHONE NUMBER OF STUDENT</td>
                  <td id="info-snumber">{{form.student_number}}</td>
                </tr>
                <tr>
                  <td>NAME OF FATHER</td>
                  <td id="info-father">{{form.father_name}}</td>
                </tr>
                <tr>
                  <td>NAME OF MOTHER</td>
                  <td id="info-mother">{{form.mother_name}}</td>
                </tr>
                <tr>
                  <td>PHONE NUMBER OF FATHER / MOTHER</td>
                  <td id="info-pnumber">{{form.parent_number}}</td>
                </tr>
                <tr>
                  <td>INSTITUTION LAST ATTENDED</td>
                  <td id="info-institution">{{form.institution}}</td>
                </tr>
                <tr>
                  <td>MONTH AND YEAR OF PASSING</td>
                  <td id="info-pass">{{form.month_and_year}}</td>
                </tr>
                <tr>
                  <td>PERCENTAGE OBTAINED OF PLUS TWO</td>
                  <td id="info-percentage">{{form.percentage_obtained}}</td>
                </tr>
              </tbody>
            </table>
            <div class="info">
              <div class="row">
                <p>Date : {{form.downloaded_date}}</p>
              </div>
              <div class="sign">
                <p>Signature of the student</p>
                <p>Signature of the parent</p>
              </div>
            </div>
            <div class="office">
              <div class="head">
                <h5>SPACE FOR OFFICE USE</h5>
              </div>
              <div class="admit">
                <h2>Admit to</h2>
                <p></p>
              </div>
              <div class="application">
                <h3>Admission Number :</h3>
                <p></p>
                <h3>Admission Date :</h3>
                <p></p>
              </div>
              <h3 class="detials">Details of Fee :</h3>
              <p></p>
              <div class="div">
                <p>supdt</p>
                <p>Principal</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      window.addEventListener("load", function () {
        console.log("down")
          var element = document.getElementById('registration');
          html2pdf().from(element).save('ApplicationForm.pdf');
      });
    </script>
{% endblock %}
