{% load static %}
<footer id="footer">
    <div class="wrapper">
        <div class="top-container">
            <div class="logo">
                <h1>
                    <a href="#home"><img src="{% static './images/jamia logo.png' %}" alt="Logo" /></a>
                </h1>
            </div>
            <div class="address-box">
                <div class="phone contact-item">
                    <a href="tel:04832704771">
                        <span><img src="{% static './images/phone-icon.png' %}" alt="Phone"></span></a>
                    <a href="tel:04832704771">
                        <h4>0483 270 4771</h4>
                    </a>
                    </a>
                </div>
                <div class="location contact-item">
                    <a href="https://goo.gl/maps/UvzzwmxHhgevra1q6 ">
                        <span><img src="{% static './images/map-icon.png' %}" alt="Map"></span></a>
                    <a href="https://goo.gl/maps/UvzzwmxHhgevra1q6 ">
                        <h4>
                            Chempakuthu -Chalipadam-Kunduthodu Rd, Chembakuth, Edavanna,
                            Kerala 676123
                        </h4>
                    </a>
                    </a>
                </div>
                <div class="mail contact-item">
                    <a href="#">
                        <span><img src="{% static './images/mail-icon.png' %}" alt="Mail"></span></a>
                    <a href="">
                        <h4>hello@jamia.com</h4>
                    </a>
                    </a>
                </div>
            </div>
        </div>
        <ul class="social-icons">
            <li>
                <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href=""><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
        <div class="copy-text">
            <p>
                &copy; All Right Reserved | Design And Developed By <span>BCA (2020 -
                    2023).</span>
            </p>
        </div>
    </div>
</footer>